<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driving License Exam Dates</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>

<body>
<div id="app" class="container mt-4">
    <h1 class="mb-4">Available dates</h1>
    <div>
        <button @click="setCurrentRoute('/api/get-auto')" :disabled="loading" type="button" class="btn btn-outline-primary" :class="{ active: activeRoute === '/api/get-auto' }">Auto Exam Dates</button>
        <button @click="setCurrentRoute('/api/get-manual')" :disabled="loading" type="button" class="btn btn-outline-primary" :class="{ active: activeRoute === '/api/get-manual' }">Manual Exam Dates</button>
        <button @click="setCurrentRoute('/api/get-theory')" :disabled="loading" type="button" class="btn btn-outline-primary" :class="{ active: activeRoute === '/api/get-theory' }">Theory Exam Dates</button>
    </div>

    <h2 class="mb-4">{{ currentTitle }}</h2>
    <!-- Preloader -->
    <div v-if="loading" class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- Displaying Results -->
    <div v-else>
        <!-- Tabs Navigation -->
        <ul class="nav nav-tabs">
            <li v-for="(city, index) in citiesOrder" :key="city.name" class="nav-item">
                <a :class="['nav-link', { active: index === 0 }]" data-toggle="tab" :href="'#' + city.name">{{ city.name }}</a>
            </li>
        </ul>

        <!-- Tabs Content -->
        <div class="tab-content">
            <div v-for="(city, index) in citiesOrder" :key="city.name" :id="city.name" :class="['tab-pane fade', { show: index === 0, active: index === 0 }]">
                <br>
                <ul class="list-group">
                    <li v-if="cityResults(city.name).length > 0" v-for="result in cityResults(city.name)" :key="result.dates" class="list-group-item">
                        <b>{{ result.dates }}</b>
                    </li>
                    <li v-if="cityResults(city.name).length === 0" class="list-group-item">No available dates.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>

