<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Georgia Driving License Exam Dates</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7JJTQNYLJQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-7JJTQNYLJQ');
    </script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>

<body>
<main class="flex-shrink-0" id="app">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/"
               class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor"
                     class="bi bi-sign-merge-left p-1" viewBox="0 0 16 16">
                    <path
                            d="M7.25 6v1c-.14.301-.338.617-.588.95-.537.716-1.259 1.44-2.016 2.196l.708.708.015-.016c.652-.652 1.33-1.33 1.881-2.015V12h1.5V6h1.216a.25.25 0 0 0 .192-.41L8.192 3.23a.25.25 0 0 0-.384 0L5.842 5.59a.25.25 0 0 0 .192.41H7.25Z" />
                    <path
                            d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435Zm-1.4.7a.495.495 0 0 1 .7 0l6.516 6.515a.495.495 0 0 1 0 .7L8.35 14.866a.495.495 0 0 1-.7 0L1.134 8.35a.495.495 0 0 1 0-.7L7.65 1.134Z" />
                </svg>
                <span class="fs-4">Georgia Drive Exam Dates 🇬🇪</span>
            </a>

            <ul class="nav nav-pills">
                <nav class="btn-group">
                    <button @click="setCurrentRoute('/api/get-auto')" type="button" class="btn btn-primary"
                            :class="{ active: activeRoute === '/api/get-auto' }">Auto Exam</button>
                    <button @click="setCurrentRoute('/api/get-manual')" type="button" class="btn btn-primary"
                            :class="{ active: activeRoute === '/api/get-manual' }">Manual Exam</button>
                    <button @click="setCurrentRoute('/api/get-theory')" type="button" class="btn btn-primary"
                            :class="{ active: activeRoute === '/api/get-theory' }">Theory Exam</button>
                </nav>
            </ul>
        </header>
    </div>
    <div class="container">
        <div class="d-lg-flex col-lg-12 justify-content-lg-end">
            <p>Last sync: <span class="badge text-bg-success">{{ lastExecutionTime }}</span></p>
        </div>
        <div class="d-lg-flex col-lg-12 justify-content-lg-end">
            <p>Next sync (every 10 minutes): <span class="badge text-bg-warning text-black">{{ countdown }}</span>
            </p>
        </div>
    </div>
    <div class="container">

        <!-- Preloader -->
        <div v-if="loading" class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
        </div>

        <div v-else>
            <ul class="nav nav-tabs">
                <li v-for="(city, index) in citiesOrder" :key="city.name" class="nav-item">
                    <a ref="tabs" :class="['nav-link text-black', { active: selectedCityTab === index }]"
                       data-bs-toggle="tab" :href="'#' + city.name" @click="selectedCityTab = index">{{ city.name
                        }}</a>
                </li>
            </ul>

            <div class="tab-content">
                <div v-for="(city, index) in citiesOrder" :key="city.name" :id="city.name"
                     :class="['tab-pane fade', { show: selectedCityTab === index, active: selectedCityTab === index }]">
                    <br>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th v-if="cityResults(city.name).length > 0" scope="col">Times</th>
                        </tr>
                        </thead>
                        <tbody>

                        <template v-for="result in cityResults(city.name)">
                            <tr v-if="result && result.dates && cityResults(city.name).length > 0"
                                :key="result.dates" :class="{ 'table-warning': isSaturday(result.dates) }">
                                <td class="w-25">
                                    <span>{{ result.dates }}</span>
                                </td>
                                <td>
                                    <span class="badge text-bg-light m-1" v-for="time in result.times" :key="time">{{ time }}</span>
                                </td>
                            </tr>
                        </template>

                        <tr v-if="cityResults(city.name).length === 0" class="table-danger">
                            <td>No available dates</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer bg-light mt-5">
    <div class="container">
        <nav class="navbar navbar-expand-lg rounded">
            <div class="container-fluid">
                <div class="col-lg-6 justify-content-lg-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://t.me/paravaingeorgia" target="_blank">Telegram
                                Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://rowan-honeydew-815.notion.site/b6c9318f71a3435ba67749377d5cb293
" target="_blank">How-to documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://status.georgia-drive.com" target="_blank">Status</a>
                        </li>

                    </ul>
                </div>
                <div class="d-lg-flex col-lg-3 justify-content-lg-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-black" href="https://arslanbekov.com" target="_blank">Created by
                                Arslanbekov</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>

<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="arslanbekov" data-description="Support me on Buy me a coffee!" data-message="" data-color="#5F7FFF"
        data-position="Right" data-x_margin="18" data-y_margin="18"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="app.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
</body>

</html>
